<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <form action="/admin/<% if (modoEdicion) { %>editar-producto<% } else { %>crear-producto<% } %>" method="POST">
            <div class="form-control">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="<% if (modoEdicion) { %><%= producto.nombre %><% } %>">
            </div>
            
            <div class="form-control">
                <label for="urlImagen">URL Imagen</label>
                <input type="text" name="urlImagen" id="urlImagen" value="<% if (modoEdicion) { %><%= producto.urlImagen %><% } %>">
            </div>
            <div class="form-control">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" step="0.01" value="<% if (modoEdicion) { %><%= producto.precio %><% } %>">
            </div>

            <div class="form-control">
                <label for="categoria">Categoria</label>
                <input type="text" name="categoria" id="categoria" value="<% if (modoEdicion) { %><%= producto.categoria %><% } %>">
            </div>

            <div class="form-control">
                <label for="color">Color</label>
                <input type="text" name="color" id="color" value="<% if (modoEdicion) { %><%= producto.color %><% } %>">
            </div>
            
            <div class="form-control">
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion" rows="5"><% if (modoEdicion) { %><%= producto.descripcion %><% } %></textarea>
            </div>

            <% if (modoEdicion) { %>
                <input type="hidden" value="<%= producto.id %>" name="idProducto">
            <% } %>

            <button class="btn btn-verde" type="submit"><% if (modoEdicion) { %>Actualizar Producto<% } else { %>Crear Producto<% } %></button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>